<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{::script})">
    <title>Review</title>
    <script th:src="@{/js/dateTimeService.js}" src="../js/dateTimeService.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>


</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

    <script th:inline="javascript">
        /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
        /*<![CDATA[*/

        const app = angular.module('reviewApp', ['dateTimeServices', 'ui.bootstrap','ng']);

        //Controller
        app.controller('reviewCtrl', function ($scope, $http,$window,$filter,dateTimeService) {

            ////////////////////////Function to Display patient name////////////////////////
            $scope.displayName = function (p) {
                return p.firstName + " " + p.lastName + " (" + p.username + ")";
            }
            ////////////////////////Function to Display patient name////////////////////////

            ///////////////////////get current user(patient)//////////////////////////////////////////
            $http.get("/iTrust2/api/v1/curPersonnel").then(function (response) {
                    $scope.user = response.data;
                }, function (rejection) {
                    console.error("Could not retrieve expected Patient record");
                }
            );
            ///////////////////////get current user(patient)//////////////////////////////////////////

            ///////////////////////////////////Load Hospital list /////////////////////////////////////////////////
            $scope.loadHospitals = function () {
                $http.get("/iTrust2/api/v1/hospitals").then(
                    function (response) {
                        // console.log(response.data);
                        $scope.Hospitals = response.data;
                        $scope.message = "";
                    }, function (rejection) {
                        $scope.Hospitals = [];
                        $scope.message = "Could not load hospitals";
                    }
                );
            };
            $scope.loadHospitals();
            ///////////////////////////////////Load Hospital list/////////////////////////////////////////////////

            ///////////////////////////////////Load HCP list /////////////////////////////////////////////////
            $scope.loadHcps = function () {
                $http.get("/iTrust2/api/v1/personnel/getbyroles/ROLE_HCP").then(
                    function (response) {
                        // console.log(response.data);
                        $scope.Hcps = response.data;
                        $scope.message = "";
                    }, function (rejection) {
                        $scope.Hcps = [];
                        $scope.message = "Could not load Hcps";
                    }
                );
            };
            $scope.loadHcps();
            ///////////////////////////////////Load HCP list/////////////////////////////////////////////////


            ///////////////////////////////////Open pop-up to Load reviews of selected hospital /////////////////////////////////////////////////
            $scope.selectedHospital = "";
            $scope.loadHospital = function (entry) {
                $scope.selectedHospital = entry;

                var url = document.querySelector('a[href="/iTrust2/admin/adminHospitalReview"]').getAttribute('href');
                var windowName = "Entrypopup";
                var width = 700;
                var height = 700;
                var left = 400;
                var top = 100;

                // Convert the entry object to a JSON string
                var reviewEntryJson = JSON.stringify(entry);

                // Construct the URL with the JSON string as a query parameter
                var urlWithParams = url + "?data=" + encodeURIComponent(reviewEntryJson);
                console.log("Constructed URL:", urlWithParams);

                // Open a new window for the form
                var $popup = $window.open(urlWithParams, windowName, "width=" + width + ",height=" + height + "," +
                    "left=" + left + ",top=" + top);

                // Set up a listener for when the pop-up window is closed
                if ($popup) {
                    $popup.addEventListener('beforeunload', function () {
                        // Reload the parent page when the pop-up is closed
                        $window.location.reload();
                    });
                }
            };
            /////////////////////////////////// Open pop-up to Load reviews of selected hospital /////////////////////////////////////////////////

            ///////////////////////////////////Open pop-up to  Load reviews of selected HCP /////////////////////////////////////////////////
            $scope.selectedHcp = "";
            $scope.loadHcp = function (entry) {
                $scope.selectedHcp = entry;

                var url = document.querySelector('a[href="/iTrust2/admin/adminHcpReview"]').getAttribute('href');
                var windowName = "Entry popup";
                var width = 700;
                var height = 700;
                var left = 400;
                var top = 100;

                // Convert the entry object to a JSON string
                var reviewEntryJson = JSON.stringify(entry);

                // Construct the URL with the JSON string as a query parameter
                var urlWithParams = url + "?data=" + encodeURIComponent(reviewEntryJson);

                // Open a new window for the form
                var $popup = $window.open(urlWithParams, windowName, "width=" + width + ",height=" + height + "," +
                    "left=" + left + ",top=" + top);

                // Set up a listener for when the pop-up window is closed
                if ($popup) {
                    $popup.addEventListener('beforeunload', function () {
                        // Reload the parent page when the pop-up is closed
                        $window.location.reload();
                    });
                }
            };
            ///////////////////////////////////Open pop-up to Load reviews of selected HCP //////////////////////////////////////

            ///////////////////////////////////Load average rating for ONE HCP/////////////////////////////////////////////////
            $scope.hcpRatings = {}
            $scope.loadHcpRating = function (entry) {
                $http.get("/iTrust2/api/v1/reviews/average/hcp/" + entry.username).then(
                    function (response) {
                        //todo
                        var hcpRating = response.data;
                        if(isNaN(hcpRating)){hcpRating = 0.0;}
                        //store in the dictionary
                        $scope.hcpRatings[entry.username] = hcpRating;

                    }, function (rejection) {
                        $scope.message = "Could not load average for HCP";
                    }
                );
            };

            ///////////////////////////////////Load average rating for ONE HCP/////////////////////////////////////////////////

            ///////////////////////////////////Load average rating for ONE Hospital/////////////////////////////////////////////////
            $scope.hospitalRatings = {}
            $scope.loadHospitalRating = function (entry) {
                $http.get("/iTrust2/api/v1/reviews/average/hospital/" + entry.name).then(
                    function (response) {
                        //todo
                        var hospitalRating = response.data;
                        if(isNaN(hospitalRating)){hospitalRating = 0.0;}

                        //store in a dictionary
                        $scope.hospitalRatings[entry.name] = hospitalRating;

                    }, function (rejection) {
                        $scope.message = "Could not load average for Hospital";
                    }
                );
            };
            ///////////////////////////////////Load average rating for one hospital/////////////////////////////////////////////////

        });
        /*]]>*/
    </script>

    <!---------------------------------------------Style CSS------------------------------------------------------>
    <style>

        .table-container1 {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            width: 100%;
            height: 90%;
            overflow-y: auto;
        }

        .table-container2 {
            grid-column: 2 / 3;
            grid-row: 1 / 4;
            width: 100%;
            height: 90%;
            overflow-y: auto;
        }

        .entry-table td[name="entryCell"] {
            height: 30px;
            width: 500px;
            padding: 5%;
            text-align: left;
            font-size: 1.7rem;
            font-family: 'Questrial', sans-serif;
            background-color: #FFFFFF;
            cursor: pointer;
        }
        .entry-table td[name="entryCell"]:hover {
            background: #eee;
        }
        .entry-table tr {
            height: 30px; /* Adjust the height of each row */
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px; /* Adjust the gap between cells */
            width: 100%;
        }

        .headingContainer {
            display: flex;
            justify-content: space-between;
        }

        .section {
            font-size: 20px;
            width: 50%;
        }

    </style>
    <!---------------------------------------------Style CSS------------------------------------------------------>



    <div ng-app="reviewApp" ng-controller="reviewCtrl">
        <!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
        <div style="margin: 0 auto; width: 60%; height: 100%; overflow-y: auto;">
            <div style="height: 90%" >
                <h2 id="header0" >Reviews</h2>
                <div>
                    <h4 style = "padding-left: 2%": >
                        Hello, {{displayName(user)}}

                    </h4>
                    <hr style="margin: 20px 0;"> <!-- Horizontal line -->

                    <!---------Table names------>
                    <div class = "headingContainer">
                        <div class="section">
                            Hospitals:
                        </div>
                        <div class="section">
                            HCPs:
                        </div>
                    </div>
                    <!---------Table names------>

                    <div class="grid-container" >
                        <!-----------------------------Entry Table----------------------------------------->
                        <!---------------------Display all hospitals ---------------------->
                        <div class="table-container1" style="height: 90%;">
                            <hr style="margin: 10px 0;"> <!-- Horizontal line -->
                            <div>
                                <!--Display message if there is no entry-->
                                <div ng-if="Hospitals.length === 0">
                                    <p>No hospitals, yet.</p>
                                </div>
                                <!--Display message if there is no entry-->

                                <table class="entry-table table-bordered">
                                    <tbody>
                                    <tr name="hospitalsTableRow"
                                        ng-repeat="hospital in Hospitals "
                                        ng-click="loadHospital(hospital)"
                                        ng-init="loadHospitalRating(hospital)"
                                        style="cursor:pointer;">
                                        <td name="entryCell"><strong >{{hospital.name}}</strong>
                                            <!--rating-->
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <span style="float: right;"> {{hospitalRatings[hospital.name]}}&nbsp;/&nbsp;5.0 </span>
                                            <!--rating-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!---------------------Display all hospitals ---------------------->

                        <!---------------------Display all Hcps --------------------------->
                        <div class="table-container2" style="height: 90%;" >
                            <hr style="margin: 10px 0;"> <!-- Horizontal line -->
                            <div>
                                <!--Display message if there is no entry-->
                                <div ng-if="Hcps.length === 0">
                                    <p>No HCPs, yet.</p>
                                </div>
                                <!--Display message if there is no entry-->
                                <table class="entry-table table-bordered">
                                    <tbody>
                                    <tr name="hcpsTableRow"
                                        ng-repeat="hcp in Hcps "
                                        ng-click="loadHcp(hcp)"
                                        ng-init="loadHcpRating(hcp)"
                                        style="cursor:pointer;">
                                        <td name="entryCell"><strong >{{hcp.username}}</strong>
                                            <!--rating-->
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <span style="float: right;"> {{hcpRatings[hcp.username]}}&nbsp;/&nbsp;5.0 </span>
                                            <!--rating-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!---------------------Display all Hcps ---------------------------->
                        <!-----------------------------Entry Table----------------------------------------->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
