<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Food Diary</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

    <!-- To be completed ----------->
    <script th:inline="javascript">
        /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
        /*<![CDATA[*/
        
        //Need to be adjusted
        const app = angular.module("FoodDiaryApp", []);


        // API name to need to be adjusted
        app.controller('FoodDiaryCtrl', ['$scope', '$location', '$http', function ($scope, $location, $http) {
             
            //$scope.representatives = [];
            //$scope.searchResults = []; // Added this line

            //////////////////Need to be adjusted////////////////////
            $scope.loadTable = function () {
                // API endpoint connection
                $http.get("/iTrust2/api/v1/pr/foodDiary").then(
                    function (response) {
                        console.log(response.data);
                        $scope.representatives = response.data;
                        $scope.message = "";
                    }, function (rejection) {
                        $scope.representatives = [];
                        $scope.message = "Could not display representatives";
                    }
                );
            }
            //////////////////Need to be adjusted////////////////////
            
            //Navigate to display view all food diary
            $scope.viewAll = function() {
                $location.path("/itrust2/patient/viewAllFoodDiary");
            };

            // navigate to the 'AddEntry' page
            $scope.AddEntry = function() {
                $location.path("/itrust2/patient/addFoodDiary");
            };

           
            $scope.loadTable();
        });
        /*]]>*/
    </script>

    <!-- Contents -->
    <div ng-app="FoodDiaryApp" ng-controller="FoodDiaryCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>Food Diary</h3>
                        </div>
                        <div class="panel-body">

                            <!-- Display Latest Food Diary -->
                            <table class="table table-bordered">
                                <caption>
                                    Latest Food Diary:
                                </caption>
                                <tbody>
                                <!-- Contents -->
                                <tr>
                                    <th class="col-md-6">Date</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Type of Meal</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Name of the Food Item</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Number of Servings Consumed</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Calories per Serving</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Grams of Fat per Serving</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Milligrams of Sodium per Serving</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Grams of Carbs per Serving</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Grams of Sugars per Serving</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Grams of Fiber per Serving</th>
                                    <td><!--data--></td>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Grams of Protein per Serving</th>
                                    <td><!--data--></td>
                                </tr>
                                <!-- To be modified -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Buttons to view all food Diary or add a new one -->
                    <div class="text-center">
                        <button class="btn btn-primary"><a href="/iTrust2/patient/viewAllFoodDiary" id="foodDiary"
                                                           style="color: white;">
                            View All</a></button>
                        <button class="btn btn-primary"><a href="/iTrust2/patient/addFoodDiary" id="addFoodDiary"
                                                           style="color: white;">
                            Add Entry</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
