<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
    <title>View HCP Review</title>
</head>

<script th:inline="javascript">
    /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
    /*![CDATA[*/

    const app = angular.module("myReviewsApp",[]);

    // API name to need to be adjusted
    app.controller('myReviewsCtrl', function ($scope, $http) {

        ///////////////////////get current user(patient)//////////////////////////////////////////
        $scope.patient = /*[[${#httpServletRequest.remoteUser}]]*/null;
        $http.get("/iTrust2/api/v1/patient").then(function (response) {
                $scope.patient = response.data;
            }, function (rejection) {
                console.error("Could not retrieve expected Patient record");
            }
        );

        ///////////////////////get current user(patient)//////////////////////////////////////////

        ///////////////////////get my Reviews///////////////////////////////////////////////
        $http.get("/iTrust2/api/v1/reviews/patient/" + $scope.patient).then(
            function (response) {
                $scope.myReviews = response.data;
            },function (rejection) {
            console.error('Error: Could not get my Reviews');
            $scope.errorMsg += "Could not get my Reviews"
        }

        );
        ///////////////////////get my Reviews///////////////////////////////////////////////

    });
    /*]]>*/
</script>

<!---------------------------------------------Style CSS------------------------------------------------------>
<style>

    .entry-table td[name="entryCell"] {
        height: 30px;
        width: 700px;
        padding: 5%;
        text-align: left;
        font-size: 1.7rem;
        font-family: 'Questrial', sans-serif;
        background-color: #FFFFFF;
    }
    .entry-table td[name="entryCell"]:hover {
        background: #eee;
    }
</style>
<!---------------------------------------------Style CSS------------------------------------------------------>

<!-- Contents -->
<div ng-app="myReviewsApp" ng-controller="myReviewsCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>My Reviews</h3>
                    </div>
                    <div class="panel-body">
                        <!--Display message if there is no entry-->
                        <div ng-if="myReviews.length === 0">
                            <p>No reviews, yet.</p>
                        </div>
                        <!--Display message if there is no entry-->
                        <!------------------------------table------------------------------------------------>
                        <table class="entry-table table-bordered">
                            <tbody>
                            <tr name="reviewTableRow" ng-repeat="review in myReviews ">
                                <td name="entryCell">
                                    <div>
                                        <strong>{{review.hospital.name}} {{review.hcp.username}}</strong>
                                    </div>
                                    <div>
                                        {{review.comment}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!------------------------------table------------------------------------------------>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
