<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>Review HCP and Hospital</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">


  <script th:inline="javascript">
    /* Otherwise Thymeleaf triess to parse Javascript as XML and breaks itself sometimes.  Sigh */
    /*<![CDATA[*/
    var app = angular.module("reviewsApp", []);

    app.controller('reviewsCtrl', function ($scope, $http) {
      $scope.review = {};
      $scope.reviewHCPs = [];

      $scope.reviewHospital ={};
      $scope.reviewHospitals = [];


      $scope.getPersonnelByRole = function (roleObj) {

        if (Array.isArray(roleObj)) {
          for (let role of roleObj) {
            $scope.getPersonnelByRole(role);

          }
        } else {
            $http.get(`/iTrust2/api/v1/personnel/getbyroles/ROLE_HCP`).then(
                    function (response) {
                      for (let user of response.data) {
                        $scope.reviewHCPs.push(user);
                      }
                    }, function(rejection) {
                      $scope.reviewHCPs = [];
                      $scope.message = "";
                      $scope.errorMsg += 'HCP not found\n';
                    });
          }
      }



      /**
         * Submits the review.
         */

      $scope.submit = function() {

        $scope.errorMsg = "";
        $scope.review.patient = /*[[${#httpServletRequest.remoteUser}]]*/null;

        // if (!$scope.review.hcp) {
        //   $scope.errorMsg += "Please select an HCP\n";
        //   $scope.message = "";
        //   $scope.message1 = "";
        // }

        // Add error message to front
        if ($scope.errorMsg) {
          $scope.errorMsg = "Could not submit review\n" + $scope.errorMsg;
        }

        // $scope.review.hcp = $scope.hcp.username;

        // $http.post("/iTrust2/api/v1/reviews/hcp", $scope.review).then(
        //         function (response) {
        //           //$scope.loadHCPTable();
        //           $scope.message = "Your review has been submitted.";
        //           $scope.message1 = "";
        //           $scope.review = {};
        //           // $scope.reviewHCPs.hcp = "";
        //           // $scope.reviewHCPs.hospital ="";
        //           // $scope.reviewHCPs.rate = "";
        //           // $scope.reviewHCPs.comments="";
        //           $scope.errorMsg = "";
        //           $scope.selectedReviews = {};
        //         }, function (rejection) {
        //           $scope.errorMsg += "Could not add review"
        //           $scope.message = "";
        //           $scope.message1 = "";
        //         });



        // URL link is formatted correctly
        //Error 404 is always appearing
        //Reason is yet to be found.
          $http.post("/iTrust2/api/v1/reviews/hospital", $scope.reviewHospital).then(
              function (response) {
                  //$scope.loadHospitalTable();
                  $scope.message = "Your hospital review has been submitted.";
                  $scope.message1 = "";
                  $scope.reviewHospital = {};

                  $scope.errorMsg = "";
                  $scope.selectedHospitalReviews = {};
              }, function (rejection) {
                  $scope.errorMsg += "Could not add hospital review"
                  $scope.message = "";
                  $scope.message1 = "";
              });


      }
      // end submit function

      $scope.selectedHCPReviews = {};
      $scope.HCPReview = [];
      $scope.patient = /*[[${#httpServletRequest.remoteUser}]]*/null;


      $scope.selectedHospitalReviews = {};
      $scope.HospitalReview = [];



      // $scope.loadHCPTable = function ()
      // {
      //     //REVIEWS IS NOT DEFINED
      //   $http.get('/iTrust2/api/v1/reviews/hcp/' + $scope.review.id).then(
      //           function (response) {
      //             $scope.HCPReview = response.data;
      //
      //           }, function (rejection) {
      //             $scope.HCPReview = [];
      //             $scope.errorMsg = "Could not display reviews";
      //           });
      // }


      // $scope.deleteReviewHCP = function () {
      //       $http.delete('/iTrust2/api/v1/reviews/' + $scope.review.id).then(
      //           function (response) {
      //               $scope.message1 = "Your review was successfully deleted.";
      //               $scope.message = "";
      //               //$scope.loadHCPTable();
      //               $scope.errorMsg = "";
      //               $scope.review = {};
      //           }, function (rejection) {
      //               $scope.errorMsg = "Could not remove review";
      //           })
      //   }


        // Same thing with adding
        // Cannot find the URL Address even though it is formatted correctly.
        // Error 404 keeps appearing. Must be fixed later.
        $scope.deleteReviewHospital = function () {
            $http.delete('/iTrust2/api/v1/reviews/' + $scope.reviewHospital.id).then(
                function (response) {
                    $scope.message1 = "Your review was successfully deleted.";
                    $scope.message = "";
                    //$scope.loadHCPTable();
                    $scope.errorMsg = "";
                    $scope.reviewHospital = {};
                }, function (rejection) {
                    $scope.errorMsg = "Could not remove review";
                })
        }

      // $scope.loadHospitalTable = function ()
      // {
      //
      //   $http.get('/iTrust2/api/v1/reviews/hospital/' + selectedReviews.id).then(
      //           function (response) {
      //             $scope.reviewsHospital = response.data;
      //             $scope.message = "";
      //           }, function (rejection) {
      //             $scope.reviewsHospital = [];
      //             $scope.message = "Could not display reviews";
      //           });
      // }



      // $scope.addReviewHospital = function () {
      //
      //   $http.post("/iTrust2/api/v1/reviews/hospital", $scope.reviewsHospital).then(
      //           function (response) {
      //             $scope.loadHospitalTable();
      //             $scope.reviewsHospital.hcp = "";
      //             $scope.reviewsHospital.hospital ="";
      //             $scope.reviewsHospital.rate = "";
      //             $scope.reviewsHospital.comments="";
      //             $scope.errorAdding = "";
      //           }, function (rejection) {
      //             $scope.errorAdding = "Could not add review";
      //           })
      // }






      /*Getting a list of hospitals*/
      $http.get("/iTrust2/api/v1/hospitals").then(
              function (response) {
                $scope.hospitals = response.data;
              });


      // $http.get("/iTrust2/api/v1/personnel/getbyroles/ROLE_HCP").then(
      //         function (response) {
      //           $scope.hcp = response.data;
      //         });




      // THIS IS THE END
      // Load table initially
      //$scope.loadHCPTable();

    });

    /*]]>*/
  </script>

  <div ng-app="reviewsApp"
       ng-controller="reviewsCtrl">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3>Review HCP and Hospital</h3>
            </div>
            <div class="panel-body">

              <table class="table table-bordered table-hover">
                <caption>My Reviews:</caption>
                <thead class="thead-dark">
                <tr>
                  <th>HCP</th>
                  <th>Rating (1~5)</th>
                  <th>Hospital</th>
                  <th>Rating (1~5)</th>
                  <th>Comments</th>

                </tr>
                </thead>
                <tbody>
                <tr name="reviewTable"
                    ng-model ="selectedHospitalReviews.id"
                    ng-repeat="hr in HospitalReview"
                    id=r{{hr.id}} value ="{{hr.id}}" required ="true">
                  <td name="HCPCell">{{hr.hcp}}</td>
                  <td name="HCPRatingCell">{{hr.rate}}</td>

                  <td name="HospitalCell">{{hr.hospital}}</td>
                  <td name="HospitalRatingCell">{{hr.rate}}</td>
                  <td name="CommentCell">{{hr.comment}}</td>
                </tr>
                </tbody>
              </table>
            </div>



            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Review HCP and Hospital</h3>
                </div>
                <div class="panel-body">
                  <form>

                    <div class="form-group">
                      <label for="hospital">Hospital:
                        </td> <select ng-model="reviewHospital.hospital" name="hospital" id="hospital"
                                      class="form-control">
                          <option ng-repeat="hospital in hospitals">{{hospital.name}}</option>
                        </select>
                      </label>
                    </div>

                      <div class="col-md-4">
                          <label>Rate: </label> <input type="text"
                                                     class="form-control"
                                                     placeholder="1~5"
                                                     name="rate" ng-model="reviewHospital.rate"
                                                     required/>
                      </div>



                    <div class="form-group">
                      <div class="col-xs-6">
                      <label for="comments">Comments:</label>
                      <textarea id="comments" class="form-control"
                                ng-model="reviewHospital.comments" name="comments"> </textarea>
                      </div>
                    </div>


                      <button class="btn btn-danger"
                              ng-click="deleteReviewHospital()" name="deleteReviewHospital">Delete
                      </button>

                      <div name="success" class="text-success">{{message1}}</div>
                      <div name="errorMsg" class="text-danger">{{errorMsg1}}</div>

                    <div class="form-group">
                      <button type="submit" class="btn btn-primary"
                              ng-click="submit()" name="submitRequest">Submit
                        Review
                      </button>
                    </div>

                    <div name="success" class="text-success"
                         style="white-space: pre;">{{message}}
                    </div>
                    <div name="errorMsg" class="text-danger"
                         style="white-space: pre;">{{errorMsg}}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>








<!--              <br>-->
<!--              <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                  <div class="panel panel-default">-->
<!--                    <div class="panel-heading ">Add a review</div>-->
<!--                    <div class="panel-body">-->
<!--                      <form class="form-horizontal" role="form" name="addReviewHCPForm"-->
<!--                            ng-submit="addReviewHCP(addReviewHCPForm.$valid)">-->
<!--                        <div class="row">-->
<!--                          <div class="col-md-4">-->
<!--                            <label>HCP</label>-->

<!--                            <ul style="list-style: none;">-->
<!--                            <li ng-repeat="h in hospitals"><label> <input-->

<!--                                    type="radio" class="form-check"-->
<!--                                   name="hospital"  ng-value ="h.self"-->
<!--                                   ng-model="review.hcp"-->
<!--                                   value="{{h.name}}" required="true"-->
<!--                                   id ="radio-{{h.name}}"/> {{h.name}}-->

<!--                            </label></li>-->
<!--                            </ul>-->
<!--                            <div class="col-md-4">-->
<!--                              <label>HCP Rate</label> <input type="text"-->
<!--                                                         class="form-control"-->
<!--                                                         placeholder="1~5"-->
<!--                                                         name="rate" ng-model="review.rate"-->
<!--                                                         required/>-->

<!--                              <div class="row">-->
<!--                                <div class="col-md-12 text-right">-->
<!--                                  <button class="btn btn-success"-->
<!--                                          ng-click="addReviewHCP()" name="addReviewHCP">Add HCP Review-->
<!--                                  </button>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->



<!--                          &lt;!&ndash; Hospital &ndash;&gt;-->
<!--                          <div class="form-group col-md-4">-->
<!--                            <label>Hospital:</label>-->
<!--                            <div class="panel panel-default">-->
<!--                              <div class="panel-body">-->
<!--                                <div class="form-check">-->
<!--                                  <ul-->
<!--                                          style="max-height: 15%; overflow: auto; list-style: none;">-->
<!--                                    <li ng-repeat="hospital in hospitals"><label>-->
<!--                                      <input type="radio" ng-model="$review.hospital"-->
<!--                                             name="hospital" value="{{hospital.name}}"-->
<!--                                             required="true"/> {{hospital.name}}-->
<!--                                    </label></li>-->
<!--                                  </ul>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->


<!--&lt;!&ndash;                          <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label>Comments</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <textarea class="form-control" rows="5"&ndash;&gt;-->
<!--&lt;!&ndash;                                      name="review" ng-model="review.comment"&ndash;&gt;-->
<!--&lt;!&ndash;                                      required&ndash;&gt;-->
<!--&lt;!&ndash;                                      ng-minlength="1"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                          </div>&ndash;&gt;-->

<!--                        <div class="row">-->
<!--                          <div class="col-md-12 text-right">-->
<!--                            <button type="submit" class="btn btn-success"-->
<!--                                    name="submit">Submit-->
<!--                            </button>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </form>-->

<!--&lt;!&ndash;                      <div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p style="color: red" ng-model="errorAdding" id="errP">&ndash;&gt;-->
<!--&lt;!&ndash;                          {{errorAdding}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->

<!--</html>-->