<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
    <title>View HCP Review</title>
</head>

<script th:inline="javascript">
    /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
    /*![CDATA[*/

    const app = angular.module("viewHcpEntryApp",[]);

    // API name to need to be adjusted
    app.controller('viewHcpEntryCtrl', function ($scope, $http) {

        ////////////////////Get the Selected Hospital////////////////////////
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var hcpEntryJson = urlParams.get('data');
        $scope.hcp = JSON.parse(decodeURIComponent(hcpEntryJson));
        ////////////////////Get the Selected Hospital////////////////////////

        ///////////////////////////////////Load HCP list /////////////////////////////////////////////////
        $scope.loadReviews = function () {
            $http.get("/iTrust2/api/v1/reviews/hcp/"+ $scope.hcp.username).then(
                function (response) {
                    // console.log(response.data);
                    $scope.reviews = response.data;
                    $scope.message = "";
                }, function (rejection) {
                    $scope.message = "Could not load reviews";
                }
            );
        };
        $scope.loadReviews();
        ///////////////////////////////////Load HCP list/////////////////////////////////////////////////

    });
    /*]]>*/
</script>

<!-- Contents -->
<div ng-app="viewHcpEntryApp" ng-controller="viewHcpEntryCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>{{hcp.username}}</h3>
                    </div>
                    <div class="panel-body">
                        <!------------------------------table------------------------------------------------>
                        <table>
                            <tbody>
                            <tr name="reviewTableRow" ng-repeat="review in reviews ">
                                <td name="entryCell"><strong >{{review.patient.username}}</strong></td>
                            </tr>
                            <tr name="reviewTableRow" ng-repeat="review in reviews">
                                <td>{{review.comment}}</td>
                            </tr>
                            </tbody>

                        </table>
                        <!------------------------------table------------------------------------------------>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
