<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Review HCP and Hospital</title>
</head>

    <script th:inline="javascript">
        /* Otherwise Thymeleaf triess to parse Javascript as XML and breaks itself sometimes.  Sigh */
        /*<![CDATA[*/
        var app = angular.module("reviewsApp", []);

        app.controller('reviewsCtrl', function ($scope, $http) {

            // Rating enum///////
            $scope.rating = [
                { score: 1 },
                { score: 2 },
                { score: 3 },
                { score: 4 },
                { score: 5 },
            ];

            //////submit form////////
            $scope.declare = {id: "",patient: "", hcp: "", hospital: "", rate: "", comment: "" };

            ///////////////////////get current user(patient)//////////////////////////////////////////
            $scope.patient = /*[[${#httpServletRequest.remoteUser}]]*/null;
            ///////////////////////get current user(patient)//////////////////////////////////////////

            ///////////////////////get hospitals list///////////////////////////////////////////////
            $http.get("/iTrust2/api/v1/hospitals").then(
                function (response) {
                    $scope.hospitals = response.data;
                }
            );
            ///////////////////////get hospitals list///////////////////////////////////////////////

            //////////////////////////Get hcps of current patient////////////////////////////////////////
            $http.get("/iTrust2/api/v1/reviews/hcps/" + $scope.patient).then(
                function (response) {
                    //patient review
                    $scope.patientHCP = response.data;
                    $scope.message = "";
                }, function (rejection) {
                    $scope.message = "Could not get HCPs";
                }
            );
            //////////////////////////Get hcps of current patient////////////////////////////////////////

            //////////////////////////Get hospitals of current patient////////////////////////////////////////
            $http.get("/iTrust2/api/v1/reviews/hospitals/" + $scope.patient).then(
                function (response) {
                    //patient review
                    $scope.patientHospital = response.data;
                    $scope.message = "";
                }, function (rejection) {
                    $scope.message = "Could not get Hospitals";
                }
            );
            //////////////////////////Get hospitals of current patient////////////////////////////////////////



            ///////////////////////Submit function for Write Review///////////////////////////////////////////////
            $scope.selectedType = "";
            $scope.submit = function() {

                $scope.errorMsg = "";

                // Add error message to front
                if ($scope.errorMsg) {
                    $scope.errorMsg = "Could not submit review\n" + $scope.errorMsg;
                }

               ///////Padding required data///////////////
                $scope.declare.id = null;
                $scope.declare.patient = $scope.patient.username;
                ///////Padding required data///////////////

                if($scope.selectedType === "hospital"){
                    $http.post("/iTrust2/api/v1/reviews/hospital", $scope.declare).then(
                        function (response) {
                            //alert popup
                            alert("Review Posted Successfully");
                            $scope.message = "Your hospital review has been submitted.";
                        }, function (rejection) {
                            console.error('Error: something went wrong');
                            $scope.errorMsg += "Could not add hospital review"
                        }
                    );
                }
                else{
                    $http.post("/iTrust2/api/v1/reviews/hcp", $scope.declare).then(
                        function (response) {
                            //alert popup
                            alert("Review Posted Successfully");
                            $scope.message = "Your hospital review has been submitted.";
                        }, function (rejection) {
                            console.error('Error: something went wrong');
                            $scope.errorMsg += "Could not add hospital review"
                        }
                    );
                }
            }
            ///////////////////////Submit function for Write Review///////////////////////////////////////////////

            ///////////////////////Delete function for Write Review///////////////////////////////////////////////
            $scope.deleteReviewHospital = function () {
                $http.delete('/iTrust2/api/v1/reviews/' + $scope.reviewHospital.id).then(
                    function (response) {
                        $scope.message1 = "Your review was successfully deleted.";
                        $scope.message = "";
                        //$scope.loadHCPTable();
                        $scope.errorMsg = "";
                        $scope.reviewHospital = {};
                    }, function (rejection) {
                        $scope.errorMsg = "Could not remove review";
                    })
            }
            ///////////////////////Delete function for Write Review///////////////////////////////////////////////


            //////get hcp, for API testing purpose////////////////
            $http.get("/iTrust2/api/v1/users/" + "hcp").then(
                function (response) {
                    $scope.hcp = response.data;
                    $scope.message = "";
                }, function (rejection) {
                    $scope.message = "Could not display patients";
                }
            );
            //////get hcp, for API testing purpose////////////////


            // $scope.selectedHCPReviews = {};
            // $scope.HCPReview = [];
            // $scope.patient = /*[[${#httpServletRequest.remoteUser}]]*/null;
            // $scope.selectedHospitalReviews = {};
            // $scope.HospitalReview = [];
        });
        /*]]>*/
    </script>

    <div ng-app="reviewsApp" ng-controller="reviewsCtrl">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="height: 500px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Review HCP / Hospital</h3>
                            <h3 class="panel-title">{{patient.username}}</h3>
                        </div>
                        <div class="panel-body">

                            <form>
                                <!-------------------- Select Target, HCP or Hospital -------------->
                                <div class="form-group">
                                    <label for="selectType">Select Type:
                                        <select ng-model="selectedType" name="selectType" id="selectType"
                                                class="form-control">
                                            <option value="hospital">Hospital</option>
                                            <option value="hcp">HCP</option>
                                        </select>
                                    </label>
                                </div>
                                <!-------------------- Select Target, HCP or Hospital -------------->

                                <!-------------------- hospital field ------------------>

                                <div ng-if="selectedType === 'hospital'">
                                    <div class="form-group">
                                        <label for="hospital">Hospital:
                                            <select ng-model="declare.hospital" name="hospital" id="hospital"
                                                    class="form-control">
                                                <option ng-repeat="hospital in patientHospital">{{hospital.name}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-------------------- hospital field ------------------>

                                <!-------------------- HCP field ------------------>
                                <div ng-if="selectedType === 'hcp'">
                                    <!-- Add HCP form fields here -->
                                    <div class="form-group">
                                        <label for="hcp">HCP:
                                            <select ng-model="declare.hcp" name="hcp" id="hcp"
                                                    class="form-control">
                                                <option ng-repeat="hcp in patientHCP">{{hcp.username}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-------------------- HCP field ------------------>


                                <div >
                                    <label for="rate">Rate: </label>
                                    <!-------------Rating----------------->
                                        <select name="rate" id="rate" style="width: 50px;"
                                            ng-model="declare.rate" ng-required="true" class="form-control">
                                            <option ng-repeat="r in rating">{{r.score}}</option>
                                        </select>
                                    <!-------------Rating----------------->
                                </div>

                                <div class="form-group" style="margin-top: 10px;">
                                    <!-------------Comment----------------->
                                    <div>
                                        <label for="comment">Comments:</label>
                                        <textarea id="comment" class="form-control" style="height: 100px;"
                                                  ng-model="declare.comment" name="comment"> </textarea>
                                    </div>
                                    <!-------------Comment----------------->
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Buttons to submit food Diary-->
                    <div class="text-center">
                        <button class="btn btn-success" style="float: center;" ng-click="submit()">
                            Submit
                        </button>
                    </div>
                    <!-- Buttons to submit food Diary-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>