<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Manage LOINCs</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

	<script th:inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes. (You're not allowed to sigh.) */
        /*<![CDATA[*/

        var app = angular.module('manageLOINCApp', []);
        app
                .controller(
                        'manageLOINCCtrl',
                        function($scope, $http) {
							var checkValidLoincForm = function(loinc) {
								var err = [];
								try{
								for(var i = 0; i < $scope.loincs.length; i++ ) {
									if( $scope.loinc.code === $scope.loincs[i].code) {
									    err.push("The given LOINC code already exists");
									}
								}
	 							if(!(/^[0-9]{1,5}-[0-9]$/g.test($scope.loinc.code)))
	 								err.push("The given LOINC code doesn't match the format");
	 							} catch(e){
	 								err.push("Error identifying LOINC code");
	 							}

	 							try{
	 							if($scope.loinc.name.length >= 250)
	 								err.push("Long Common Name should be no longer than 250 characters");
	 							} catch(e){
	 								err.push("Error identifying Long Common Name");
	 							}

	 							try{
	 							if($scope.loinc.name.component >= 250)
	 								err.push("Component should be no longer than 250 characters");
	 							} catch(e){
	 								err.push("Error identifying Component");
	 							}

	 							try{
	 							if($scope.loinc.name.property >= 250)
	 								err.push("LOINC Property should be no longer than 250 characters");
								return err.join(".  ");
	 							} catch(e){
	 								err.push("Error identifying Property");
	 							}
							}

                            $scope.displayName = function(l) {
                                return l.code + " (" + l.name + ")";
                            }

                            // documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
                            $scope.searchFilter = "";
                            $scope.filterLoincs = function(loinc) {
                                return ($scope.displayName(loinc)).toLowerCase().match($scope.searchFilter.toLowerCase());
                            }

                            function formDifferent(current, original) {
                                for (var field in original) {
                                    if (current[field] != original[field]) return true;
                                }
                                return false;
                            }

                            $scope.originalForm = {};
                            $scope.loincForm = {};
                            $scope.selectLoinc = function(loinc, override) {
                                if (!override && formDifferent($scope.loincForm, $scope.originalForm)) {
                                    if (!confirm("You have made changes to this LOINC.\n" +
                                    	"Would you like to continue? (changes will be lost)")) {
                                        $scope.selectedLoinc = "";
                                        $scope.selectedLoinc = $scope.loincForm.code;
                                        return;
                                    }
                                }
                                
                                var lf = $scope.loincForm = {};
                                var of = $scope.originalForm = {};
                                
                                // make a copy of the loinc
                                for (var field in loinc) {
                                    if (field[0] == '$') continue; // don't mess with angular fields
                                    lf[field] = of[field] = loinc[field];
                                }
                                lf.code = of.code = loinc.code;
                                
                                $scope.selectedLoinc = lf.code;
                            }
                            
                            $http.get("/iTrust2/api/v1/loinccodes").then(
                                    function(response) {
                                        $scope.loincs = response.data;
                                    });

                            $scope.submit = function() {
                                var loinc = angular.copy($scope.loincForm);

								// ========================= LOINC EDIT AND DELETE ARE NOT WORKING. NEED TO CHANGE ========================
                                $http({
                                    method : 'PUT',
                                    url : '/iTrust2/api/v1/loinccodes/' + loinc.code,
                                    data : loinc
                                }).then(function(response) {
                                    $scope.message = "LOINC updated successfully.";
                                    
                                    // replace the loinc in session
                                    for (var i in $scope.loincs)
                                        if ($scope.loincs[i].code == response.data.code) {
                                            $scope.loincs[i] = response.data;
                                            $scope.selectLoinc(response.data, true);
                                        }
                                }, function(rejection) {
                                    if (rejection.data.msg) {
                                        $scope.message = "Error: " + rejection.data.msg;
                                    } else {
                                        $scope.message = "An error occured updating LOINC.";
                                    }
                                })
                            }
							// ========================= LOINC EDIT AND DELETE ARE NOT WORKING. NEED TO CHANGE ========================
	        				$scope.deleteLoinc = function(loinc) {
	            				$http.delete('/iTrust2/api/v1/loinccodes/' + loinc.code).then(
	              					function (response) {
	                					$scope.loadLoincs();
										$scope.message = "";
	              					}, function (rejection) {
										  $scope.message = "Could not remove LOINC";
	              				});
	          				}


							$scope.loincs = [];
							$scope.loadLoincs = function () {
	        				  $http.get("/iTrust2/api/v1/loinccodes").then(
	        				    function (response) {
	        				      $scope.loincs= response.data;
	        				      $scope.message = "";
	        				    }, function (rejection) {
	        				      $scope.loincs = [];
	        				      $scope.message = "Could not display LOINCs";
	        				    });
	        				}

	        				$scope.addLoinc = function () {
		    				      var err = checkValidLoincForm($scope.loinc);
		    				      if (err) {
		    				        $scope.errorAdding = err;
		    				        $scope.successMessage = "";
		    				      } else {
		    				        $http.post("/iTrust2/api/v1/loinccodes", $scope.loinc).then(
		    				          function (response) {
		    				        		$scope.loadLoincs();
		    				            $scope.loinc.code = "";
		    				            $scope.loinc.name = "";
		    				            $scope.loinc.component = "";
		    				            $scope.loinc.property = "";
		    				            $scope.errorAdding = "";
		    				            $scope.successMessage = "LOINC added successfully.";
		    				          }, function (rejection) {
		    				        	    $scope.loadLoincs();
		    				            $scope.errorAdding = "Could not add Loinc.";
		    				            $scope.successMessage = "";
		    				          });
		    				      }
	        				}

	        				$scope.loadLoincs();
                        });

        /*]]>*/
	</script>



	<div ng-app="manageLOINCApp" ng-controller="manageLOINCCtrl">
		<div style="float: left; width: 30%; height: 75%; overflow-y: auto">
			<h2>Registered LOINCs:</h2>
			<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
            and https://docs.angularjs.org/api/ng/filter/filter -->
			<h4>
				Search: <input type="text" name="search" ng-model="searchFilter" />
			</h4>
			<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
			<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
			<ul style="overflow: auto;height=90%;">
				<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
				<li ng-repeat="loinc in loincs | filter:filterLoincs"><h4>
					<label> <input type="radio"
								   ng-model="$parent.selectedLoinc" name="loinc"
								   value="{{loinc.code}}"
								   ng-click='$parent.selectLoinc(loinc)' />{{$parent.displayName(loinc)}}
					</label>
					<input type="button" value="Delete" class="btn btn-danger" name="deleteUser" ng-click="deleteLoinc(loinc)"/>
				</h4></li>
			</ul>
		</div>
		<!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
		<div
				style="float: left; width: 33%; border-left: 1px solid #bbb; padding-left: 3%; height: 75%; overflow-y: auto">
			<h2 id="header0">Edit LOINC</h2>
			<div ng-show="selectedLoinc">
				<table>
					<tr>
						<td style="text-align: right; padding: 5px"><b>LOINC
							Code:</b></td>
						<td><input type="text" name="code"
								   ng-model="loincForm.code" /></td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Long
							Common Name:</b></td>
						<td><input type="text" name="name"
								   ng-model="loincForm.name" /></td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Component:</b></td>
						<td><textarea class="form-control" rows="5" name="component"
								  ng-model="loincForm.component" required ng-minlength="1"></textarea></td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Properties:</b></td>
						<td><textarea class="form-control" rows="5" name="property"
								  ng-model="loincForm.property" required ng-minlength="1"></textarea></td>
					</tr>
				</table>

				<br />
				<button ng-click="submit()" name="submit">Submit</button>

				<div name="success">{{message}}</div>
			</div>
		</div>
		<!-- Edit LOINC  -->
		<div
				style="float: left; border-left: 1px solid #bbb; padding-left: 3%; height: 75%; overflow-y: auto">
			<h2 id="header1">Add LOINC</h2>
				<form name="addLoincForm"
					  ng-submit="addLoinc(addLoincForm.$valid)">
					<b style="text-align: right; padding: 5px">LOINC Code:</b> <input type="text" name="code"
											id="code" ng-model="loinc.code" /> <br>
					<b style="text-align: right; padding: 5px">Long Common Name:</b> <input type="text" name="name"
											id="name" ng-model="loinc.name" /> <br>
					<b style="text-align: right; padding: 5px">Components:</b>
					<textarea class="form-control" rows="5" name="component"
							  ng-model="loinc.component" required ng-minlength="1"></textarea> <br>
					<b style="text-align: right; padding: 5px">Properties:</b>
					<textarea class="form-control" rows="5" name="property"
							  ng-model="loinc.property" required ng-minlength="1"></textarea> <br> <br>

					<br> <input type="submit" id="submit" value="Add LOINC" />
				</form>
			<div>
				<p style="color: red" ng-model="errorAdding" id="error">{{errorAdding}}</p>
			</div>
			<div>
				<p style="color: green" ng-model="successMessage"
				    id="success">{{successMessage}}</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>